/*
Estilos Globales
*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  color: $color-blanco;
  text-decoration: none;
}

i {
  font-size: 1.5em;
}

body {
  background-color: $color-cream;
  font-family: $tipografia;
}

