/*
Variables 
*/

$color-azul: #3a98b9;
$color-azul-hover: #2a6c85;
$color-cream: #fff1dc;
$color-brown: #e8d5c4;
$color-blanco: #f5f3f3;
$color-negro: rgb(0, 0, 0, 0.9);
$color-verde: rgb(4, 89, 14);
$color-gris: #b2b6b7;
$color-rojo:rgb(255, 0, 0);

@font-face {
  font-family: golos_regular;
  src: url(../fonts/GolosText-Regular.ttf);
}

$tipografia: golos_regular, verdana, sans-serif;



